openapi: 3.0.0
info:
  description: È l'API RESTful offerta dal *Fornitore delle distanze geografiche*
    che, come suggerisce il nome, vi racchiude la capability di calcolare la distanza
    tra due posizioni geografiche.
  title: fornitoreDistanzeAPI
  version: "1.0"
servers:
- description: testingServer
  url: https://soseng-unibo.stoplight.io/mocks/soseng-unibo/soseng-project-documentation/2282674
paths:
  /distance:
    post:
      description: È la risorsa che restituisce la distanza geografica tra due punti
        geografici oppure le distanze geografiche tra un punto e ciascun punto di
        una lista.
      operationId: post_distance
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            examples:
              Esempio richiesta semplice:
                value:
                  pointA: Via del corso, 1, 12345, Roma, Italia
                  pointsB:
                  - Via Garibaldi, 1, 12345, Roma
              Esempio richiesta multipla:
                value:
                  pointA: Via del corso, 1, 12345, Roma, Italia
                  pointsB:
                  - Via Garibaldi, 1, 12345, Roma
                  - Via Bologna, 1, 12345, Roma
            schema:
              properties:
                pointA:
                  description: Punto geografico di partenza
                  type: string
                pointsB:
                  description: Array di punti geografici di destinazione
                  items:
                    type: string
                  type: array
              type: object
        description: Specifica un punto geografico di partenza e un array di uno o
          più punti di arrivo.
      responses:
        "200":
          content:
            application/json:
              examples:
                Esempio risposta semplice:
                  value:
                    distance:
                    - value: 1
                      unit: km
                Esempio risposta multipla:
                  value:
                    distance:
                    - value: 1
                      unit: km
                    - value: 23
                      unit: m
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
        "400":
          description: Bad Request
        "403":
          description: Forbidden
      security:
      - authorization: []
      summary: Calcola distanza geografica
      tags:
      - Risorse
      x-openapi-router-controller: openapi_server.controllers.risorse_controller
  /registration:
    post:
      description: È la risorsa che permette ad un utente di registrarsi, dopo aver
        fornito la propria username e password.
      operationId: post_registration
      requestBody:
        content:
          application/json:
            examples:
              Esempio:
                value:
                  username: Mario
                  password: Albatros12
            schema:
              $ref: '#/components/schemas/credentials'
      responses:
        "200":
          content:
            application/json:
              examples:
                Esempio:
                  value:
                    token: bWFnZ2llOnN1bW1lcnM=
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Registra un nuovo utente
      tags:
      - Risorse
      x-openapi-router-controller: openapi_server.controllers.risorse_controller
components:
  requestBodies:
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
  schemas:
    credentials:
      properties:
        username:
          type: string
        password:
          type: string
      title: credentials
      type: object
    inline_object:
      properties:
        pointA:
          description: Punto geografico di partenza
          type: string
        pointsB:
          description: Array di punti geografici di destinazione
          items:
            type: string
          type: array
      type: object
    inline_response_200_distance:
      example:
        unit: unit
        value: 0.8008281904610115
      properties:
        value:
          type: number
        unit:
          minLength: 1
          type: string
      required:
      - unit
      - value
      type: object
    inline_response_200:
      example:
        distance:
        - unit: unit
          value: 0.8008281904610115
        - unit: unit
          value: 0.8008281904610115
      properties:
        distance:
          items:
            $ref: '#/components/schemas/inline_response_200_distance'
          minItems: 1
          type: array
      required:
      - distance
      type: object
    inline_response_200_1:
      example:
        token: token
      properties:
        token:
          type: string
      type: object
  securitySchemes:
    authorization:
      description: 'Questo schema di sicurezza richiede al client che nella richiesta
        HTTP passi anche l''header *Authorization* con le sue credenziali, nella forma
        di "Basic token": lo abbiamo introdotto perché vogliamo che tale API sia fruibile
        solo da soggetti con cui il *Fornitore delle distanze geografiche* ha preso
        accordi (nel nostro caso le credenziali di accesso saranno date solo ad *ACMESky*).'
      scheme: basic
      type: http
      x-basicInfoFunc: openapi_server.controllers.security_controller_.info_from_authorization
