openapi: 3.0.0
info:
  description: È l'API Restful offerta dal *fornitore dei servizi bancari* che rende
    accessibile la capability di generazione di un link di pagamento con certi parametri
    e di ricevere dati relativi al pagamento di un cliente.
  title: serviziBancariAPI
  version: "1.0"
servers:
- description: testing
  url: https://stoplight.io/mocks/soseng-unibo/soseng-project-documentation/7424070
paths:
  /link:
    post:
      description: È la risorsa che, a fronte di una richiesta HTTP nella cui intestazione
        vi è un `token` identificativo valido, restituisce un link di pagamento relativo
        all'offerta specificata.
      operationId: get_link
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            examples:
              Esempio:
                value:
                  amount:
                    value: 100
                    currency: €
                  offer_code: abcd123
                  airline: rayflight
            schema:
              properties:
                amount:
                  $ref: '#/components/schemas/_link_amount'
                offer_code:
                  description: |-
                    Codice dell'offerta che il cliente intende acquistare: in dettaglio, questo codice non è quello identificante la coppia offerta - cliente, bensì è quello assegnato, in principio, all'offerta dalla compagnia aerea che l'ha attivata, ancor prima di comunicarla ad ACMESky.

                    Quando il fornitore dei servizi bancari inoltrerà la quota del pagamento del cliente alla compagnia aerea, le invierà anche questo codice per comunicarle l'offerta di cui le sta inviando il pagamento.
                  type: string
                airline:
                  description: 'Compagnia aerea che ha attivato l''offerta per il
                    cui pagamento si chiede la generazione del link: servirà al fornitore
                    dei servizi bancari per inoltrarle la quota spettante.'
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                Esempio:
                  value:
                    link: payflight.me/123ayshgga
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - apikey: []
      summary: Genera link di pagamento
      tags:
      - Risorse
      x-openapi-router-controller: openapi_server.controllers.risorse_controller
  /paymentdata:
    post:
      description: È la risorsa che permette al cliente intenzionato ad acquistare
        un'offerta di inviare al fornitore dei servizi bancari il pagamento corrispondente.
      operationId: post_paymentdata
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            examples:
              Esempio:
                value:
                  card_number: 1234123412341234
                  expiration:
                    month: 11
                    year: 2024
                  CVC: 123
                  circuit: maestro
                  transaction:
                    id: abcd!12
                    date: 2020-03-05, 12:06 CET
            schema:
              properties:
                card_number:
                  type: integer
                expiration:
                  $ref: '#/components/schemas/_paymentdata_expiration'
                CVC:
                  type: integer
                circuit:
                  type: string
                transaction:
                  $ref: '#/components/schemas/_paymentdata_transaction'
              type: object
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      security:
      - apikey: []
      summary: Ricevi dati di pagamento
      tags:
      - Risorse
      x-openapi-router-controller: openapi_server.controllers.risorse_controller
  /registration:
    post:
      description: È la risorsa che permette a chi intende interagire con il fornitore
        dei servizi bancari di ottenere l'APIKey per poter essere identificato e autorizzato.
      operationId: post_registration
      requestBody:
        content:
          application/json:
            examples:
              Esempio:
                value:
                  username: Mario
                  password: 1245a5a
            schema:
              $ref: '#/components/schemas/Maps.v1_Credentials'
      responses:
        "200":
          content:
            application/json:
              examples:
                Esempio:
                  value:
                    token: bWFnZ2llOnN1bW1lcnM=
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: OK
        "400":
          description: Bad Request
        "500":
          description: Internal Server Error
      summary: Registra un nuovo utente
      tags:
      - Risorse
      x-openapi-router-controller: openapi_server.controllers.risorse_controller
components:
  parameters:
    AuthorizationAPIKey:
      description: Il valore deve essere il token che il cliente ha ricevuto durante
        la registrazione.
      explode: false
      in: header
      name: AuthorizationAPIKey
      required: true
      schema:
        type: string
      style: simple
  requestBodies:
    inline_object_1:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object_1'
    inline_object:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_object'
  schemas:
    Maps.v1_Credentials:
      properties:
        username:
          type: string
        password:
          type: string
      title: credentials
      type: object
    _paymentdata_expiration:
      properties:
        month:
          type: integer
        year:
          type: integer
      type: object
    _paymentdata_transaction:
      properties:
        id:
          type: string
        date:
          type: string
      type: object
    inline_object:
      properties:
        card_number:
          type: integer
        expiration:
          $ref: '#/components/schemas/_paymentdata_expiration'
        CVC:
          type: integer
        circuit:
          type: string
        transaction:
          $ref: '#/components/schemas/_paymentdata_transaction'
      type: object
    _link_amount:
      properties:
        value:
          type: number
        currency:
          type: string
      type: object
    inline_object_1:
      properties:
        amount:
          $ref: '#/components/schemas/_link_amount'
        offer_code:
          description: |-
            Codice dell'offerta che il cliente intende acquistare: in dettaglio, questo codice non è quello identificante la coppia offerta - cliente, bensì è quello assegnato, in principio, all'offerta dalla compagnia aerea che l'ha attivata, ancor prima di comunicarla ad ACMESky.

            Quando il fornitore dei servizi bancari inoltrerà la quota del pagamento del cliente alla compagnia aerea, le invierà anche questo codice per comunicarle l'offerta di cui le sta inviando il pagamento.
          type: string
        airline:
          description: 'Compagnia aerea che ha attivato l''offerta per il cui pagamento
            si chiede la generazione del link: servirà al fornitore dei servizi bancari
            per inoltrarle la quota spettante.'
          type: string
      type: object
    inline_response_200:
      example:
        link: link
      properties:
        link:
          type: string
      type: object
    inline_response_200_1:
      example:
        token: token
      properties:
        token:
          type: string
      type: object
  securitySchemes:
    apikey:
      description: Questo schema di sicurezza è stato impostato al fine di permettere
        esclusivamente ad ACMESky di richiedere alla banca la generazione del link
        di pagamento per una certa offerta.
      in: header
      name: abcd12!
      type: apiKey
      x-apikeyInfoFunc: openapi_server.controllers.security_controller_.info_from_apikey
